body {
    margin: 0;
    background-image: url(./images/ll.png);
    background-size: auto;
}

#cabecalho{
    background-color: #76CB9B;
    height: 100px;
    border-radius: 0 0 30px 30px;
    box-shadow: -10px 15px 0 #55AF7D;
  }

#grupo {
    width: 300px;
    margin: 25px 0 0 25px;
}


#titulo {
    color: #55AF7D;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
}

#card {
    width: 90%;
    height: 350px;
    background-color: #55AF7D;
    box-shadow: -20px 11px 0 #339E63;
    margin-left: 6%;
    border-radius: 10px;
}

#procurar {

    display: flex;
    align-items: center;
    padding: 24px;
    margin-left: -8px;
}

#search {
    height: 30px;
    width: 400px;
    border-radius: 3px 0 0 3px;
    border: none;
    outline: none;
    margin-left: 300px;
    font-size: 18px;
    font-family: sans-serif;
    color: #222323;
}

#procurar img{

    width: 33px;
    height: 33px;
    border-radius: 0 3px 3px 0;
}

#lista{
    height: 33px;
    padding-left: 5px;
    color: #222323;
    outline: none;
    border: none;
    border-radius: 3px;
    margin-left: 30px;
  }

footer{
    background-color: #76CB9B;
    height: 100px;
    position: relative;
    margin-top: 76px;
    border-radius: 30px 30px 0 0;
    box-shadow: 0 -20px 0 #55AF7D;
  }