body {
    margin: 0;
    background-image: url(./images/material.png);
    background-size: auto;
}

#cabecalho{
    background-color: #659CE5;
    height: 100px;
    border-radius: 0 0 30px 30px;
    box-shadow: -10px 15px 0 #2273E1;
  }

#grupo {
    width: 300px;
    margin: 25px 0 0 25px;
}


#titulo {
    color: #2273E1;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
}

#card {
    width: 60%;
    height: 350px;
    background-color: #2273E1;
    box-shadow: -20px 11px 0 #005BD7;
    display: flex;
    margin-left: 22%;
    border-radius: 10px;
}

#pilha {
    margin-left: 25%;
    display: flex;
    align-items: center;
}

#quantidade {

    color: #ffffff;
    font-size: 15px;
    letter-spacing: 3px;
    font-family: sans-serif;
    margin-right: 17%;
    margin-top: -60%;
    display: flex;
    align-items: center;
    padding-left: 5px;

}

#qtd input{
    height: 30px;
    width: 40px;
    border-radius: 3px;
    border: none;
    outline: none;
    margin-left: 5px;
    font-size: 18px;
    font-family: sans-serif;
    color: #222323;
}


#valor {

    color: #ffffff;
    font-size: 15px;
    letter-spacing: 3px;
    font-family: sans-serif;
    margin-right: 13%;
    margin-top: -60%;
    display: flex;
    align-items: center;

}

#preco input{
    height: 30px;
    width: 45px;
    border-radius: 3px;
    border: none;
    outline: none;
    margin-left: 5px;
    font-size: 18px;
    font-family: sans-serif;
    color: #222323;
}


#descricao {
    margin-top: 12%;  
    margin-left: -53%;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 3px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    width: 754px;
    height: 100px;

}

#box input{
    height: 70px;
    width: 750px;
    border-radius: 10px;
    border: none; 
    outline: none;
    font-size: 18px;
    font-family: sans-serif;
    color: #222323;
}


#tecido{

    color: #ffffff;
    font-size: 15px;
    letter-spacing: 3px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 30%;
    margin-left: -90%;
    width: 120px;
    height: 30px;


}

#aviamento{
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 3px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 33%;
    margin-left: -8%;
    width: 124px;
    height: 30px;

}

button {
    margin-top: 2%;
    color: #ffffff;
    font-size: 22px;
    letter-spacing: 3px;
    font-family: sans-serif;
    background-color: #005BD7;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-left: 70%;
}

button:hover {
    background-color: #2273E1;
    transition: 0.2s;
    cursor: pointer;

}
footer{
    background-color: #659CE5;
    height: 100px;
    position: relative;
    margin-top: 40px;
    border-radius: 30px 30px 0 0;
    box-shadow: 0 -20px 0 #2273E1;
  }