#grupo {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 50px auto 0 490px;
}

#slogan {
    font-size: 13px;
    margin: 0 0 0 610px;
    letter-spacing: 6px;
    font-weight: 100;
    font-family: sans-serif;
}

#centro {
    display: block;
    margin: 50px auto 0 auto;
    width: 380px;
    height: 470px;
    background-color: #4551A4;
    border-radius: 30px;
    font-family: sans-serif;
}

#logo {
    width: 100px;
    border-radius: 100px;
    margin: 20px 0 0 140px;
}

#log {
    margin: 10px 0 0 45px;
    font-size: 16px;
    color: #ffffff;
}

#login{
    margin: 10px 0 0 40px;
    width: 300px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 15px;
    border: none;
    font-size: 18px;
    outline: none;
}

#sen {
    margin: 10px 0 0 45px;
    font-size: 16px;
    color: #ffffff;
}

#senha {
    margin: 10px 0 0 40px;
    width: 300px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 15px;
    border: none;
    font-size: 18px;
    outline: none;
}

#esqueci {
    margin: 10px 0 0 210px;
    font-size: 13px;
    color: #ffffff;
    text-decoration: underline;
}

#esqueci:hover {
    cursor: pointer;
}

#entrar {
    margin: 20px 0 0 115px;
    width: 151px;
    height: 47px;
    border-radius: 10px;
    font-size: 20px;
    border: 0;
    background-color: #55AF7D;
    color: #ffffff;
    font-weight: bolder;
    cursor: pointer;
}

#entrar:hover {
    background-color: #247548;
    transition: 0.2s;
}

#check {
    margin: 20px 0 0 50px;
    outline: none;
}

#lembrar {
    margin: 20px 0 0 10px;
    font-size: 15px;
    color: #ffffff;
}

#lembracheck {
    display: flex;
}

#fundo1 {
    margin: -500px 0 0 -150px;
    width: 500px;
    opacity: 35%;
    border-radius: 1000px;
}

#fundo2 {
    margin: -770px 0 0 900px;
    width: 300px;
    opacity: 10%;
    border-radius: 1000px;
    position: absolute;
}

#fundo3 {
    margin: -230px 0 0 1200px;
    width: 300px;
    opacity: 20%;
    border-radius: 1000px;
}