body {
    margin: 0;
    background-image: url(./images/material.png);
    background-size: auto;
}

#cabecalho{
    background-color: #659CE5;
    height: 100px;
    border-radius: 0 0 30px 30px;
    box-shadow: -10px 15px 0 #2273E1;
  }

#grupo {
    width: 300px;
    margin: 25px 0 0 25px;
}

#user {
    margin: 0 0 -6px 1000px;
    width: 60px;
  }

#titulo {
    color: #2273E1;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
}

#card {
    width: 350px;
    height: 200px;
    background-color: #2273E1;
    box-shadow: -13px 11px 0 #005BD7;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 230px;
}

#criar {
    color: #ffffff;
    font-family: sans-serif;
    padding: 10px;
    letter-spacing: 3px;
}

a{
    text-decoration: none;
  }

#cadastrar {
    color: #ffffff;
}

#icon img {
    width: 150px;
    height: 150px;
    position: relative;
    left: 190px;
    top: -70px;
}

#card2 {
    width: 350px;
    height: 200px;
    background-color: #2273E1;
    box-shadow: -13px 11px 0 #005BD7;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    margin-left: 200px;
    margin-right: 100px;
}

#consulta {
    color: #ffffff;
    font-family: sans-serif;
    padding: 10px;
    letter-spacing: 3px;
}

#cons{
    color: #ffffff;
}

#icon2 img {
    width: 150px;
    height: 150px;
    position: relative;
    left: 190px;
    top: -70px;
}

#card3 {
    width: 350px;
    height: 200px;
    background-color: #2273E1;
    box-shadow: -13px 11px 0 #005BD7;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    margin-top: 80px;
    margin-left: 300px;
}

#modifica {
    color: #ffffff;
    font-family: sans-serif;
    padding: 10px;
    letter-spacing: 3px;
}

#mod {
    color: #ffffff;
}
#icon3 img {
    width: 150px;
    height: 150px;
    position: relative;
    left: 190px;
    top: -70px;
}

#card4 {
    width: 350px;
    height: 200px;
    background-color: #2273E1;
    box-shadow: -13px 11px 0 #005BD7;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    margin-top: 80px;
    margin-left: 550px;
    margin-right: 100px;
}

#saida {
    color: #ffffff;
    font-family: sans-serif;
    padding: 10px;
    letter-spacing: 3px;
}

#icon4 img {
    width: 150px;
    height: 150px;
    position: relative;
    left: 190px;
    top: -70px;
}

#sai {
    color: #ffffff;
}

footer{
    background-color: #659CE5;
    height: 100px;
    position: relative;
    margin-top: 105px;
    border-radius: 30px 30px 0 0;
    box-shadow: 0 -20px 0 #2273E1;
  }